html {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif, Arial;
}

body {
  /*margin: 0 auto;
  background-color: #222;*/

    background-image: url("/static/img/indiamap.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: auto;
}


div {
 text-align: center;
}

/* Style the copyright notice */
div .copyright {
  font-size: 12px;
  color: #999;
  margin: 20px 0;
  
}


 

